* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  cursor: crosshair;
  color: rgb(0, 0, 0);
}
html {
  scroll-behavior: smooth;
}
.sidePanel {
  width: 10vw;
  height: auto;
  position: fixed;
  top: 10vw;
}
.sidePanelText {
  margin-top: 1vw;
  width: 12vw;
  font-size: 1.6vw;
  background-color: #0398d0;
  border-radius: 0px 30px 30px 0px;
  outline: 0;
  border: 0;
  padding: 0.4vw;
}
.sidePanelText span {
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.sidePanelText span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sidePanelText:hover span {
  padding-right: 25px;
}

.sidePanelText:hover span:after {
  opacity: 1;
  right: 0;
}

body {
  background-color: #ffffff;
  background-image: url("svg/gora.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 160%;
}
h1 {
  font-size: 2.5vw;
}
h2 {
  font-size: 2vw;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}
ul {
  text-align: left;
}
.container {
  width: 70vw;
  height: auto;
  margin: auto;
  --box-shadow: 0 0 1px 0px rgb(167, 167, 167);
}
.firstBox {
  width: 80%;
  margin: auto;
  margin-top: 7vh;
  margin-bottom: 6vh;
  display: flex;
}

.firstBoxPhoto {
  width: 280px;
  height: 280px;
  position: relative;
  border-radius: 200px;
  box-shadow: 0 0 10px 1px rgb(167, 167, 167);
}
.firstBoxPhotoImg {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  border-radius: 200px;
  transition-duration: 1.5s;
  object-fit: cover;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.firstBoxPhotoAnimation {
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-duration: 2.5s;
  border: 7px solid rgba(255, 255, 255, 0.411);
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  transition-duration: 0.5s;
  border-radius: 200px;
  z-index: 20;
}
.firstBoxPhotoAnimation:hover {
  transform: rotate(20deg);
  border: 15px solid rgba(255, 255, 255, 0.111);
}
.firstBoxPhotoAnimation:active {
  transform: rotate(20deg);
  border: 13px dashed rgba(255, 255, 255, 0.411);
}
.firstBoxMainInfo {
  width: calc(100% - 300px);
  height: auto;
}
.firstBoxMainTitle {
  margin: auto;
  width: 90%;
  height: auto;
  text-align: center;
  margin-top: 1.5vh;
}
.firstBoxMainTitle > h1 {
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  font-size: 2.5vw;
  text-align: left;
  letter-spacing: 0.6vw;
}
.secondBox {
  color: white;
  font-size: 1.8vw;
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
  background-color: #0096d1;
  --box-shadow: 0 0 5px 0px rgb(167, 167, 167);
  cursor: pointer;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border-radius: 35px;
  transition-duration: 0.4s;
}
.secondBox:hover {
  box-shadow: 0px 10px 20px#0096d171;
}
.aboutMeBox {
  font-size: 1.8vw;
  width: 80%;
  margin: auto;
  margin-top: 8vh;
  text-align: center;
  cursor: pointer;
}
.ambTitle {
  font-size: 2vw;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 35px;
  color: white;
  background-color: #0096d1;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  box-shadow: 0 9px rgb(231, 231, 231);
  text-transform: uppercase;
}
.ambTitle:hover {
  color: #acebd7;
}
.ambTitle:active {
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}
.aboutMeBoxFlex {
}
.aboutMeLine {
  width: 10%;
}
.aboutMeText {
  font-size: 1vw;
  width: 90%;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: left;
  display: none;
}
.aboutMeText > h2,
.aboutMeText > ul > h2 {
  text-transform: uppercase;
}
.thirdBox {
  font-size: 2vw;
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.thirdBox > a {
  width: 45%;
}
.thirdBoxName {
  width: 100%;
  color: #0096d1;
}
.thirdBoxProjects {
  width: 100%;
  height: 17vw;
  --background-color: #0096d1;
  transition-duration: 0.5s;
  cursor: pointer;
  --background-image: url("/img/first-web.PNG");
  background-size: cover;
  box-shadow: 0 0 10px #0096d1;
}
.thirdBoxProjects:hover {
  transform: skew(-2deg);
}
.thirdBoxProjects > img {
  max-width: 100%;
  cursor: pointer;
}
.fourthBox {
  font-size: 2vw;
  width: 80%;
  --border: 4px dotted rgb(238, 238, 238);
  margin: auto;
  margin-top: 5vh;
  text-align: center;
  display: flex;
}
.fourthBoxLeft {
  width: 30%;
  --border: 4px dotted rgb(238, 238, 238);
  display: flex;
  transition-duration: 0.7s;
  transition-delay: 0.7s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  flex-wrap: wrap;
}
.fourthBoxLeftText {
  width: 100%;
  color: #0096d1;
  padding-top: 2vw;
  padding-bottom: 1vw;
}
.fourthBoxLeftText > b {
  font-size: 1.5vw;
  width: 100%;
  color: #0096d1;
}
.fourthBoxRight {
  width: 70%;
}
.fourthBoxRightText {
  width: 100%;
  text-align: left;
  word-wrap: break-word;
  padding-top: 1vw;
  padding-bottom: 1vw;
  color: rgb(104, 104, 104);
}
.fourthBoxRightText > p {
  font-size: 1.4vw;
  color: #0096d1;
}
.fourthBoxRightText > span {
  color: #0096d1;
}
.fifthBox {
  font-size: 2vw;
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.fifthBoxTitle {
  font-size: 2vw;
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
}
.fifthBoxTitleBox {
  width: 100%;
  text-align: center;
  font-size: 2vw;
  padding-bottom: 3vw;
  color: #0096d1;
}
.fifthBoxSkillsBox {
  font-size: 2vw;
  width: 100%;
  --border: 4px dotted rgb(77, 1, 1);
  display: flex;
  flex-wrap: wrap;
}
.fifthBoxSkillsBoxSquares {
  font-size: 1.6vw;
  color: #585858;
  width: 25%;
  height: 16vw;
  position: relative;
}
.fifthBoxSkillsBoxSquares:hover {
  background-color: rgb(255, 255, 255);
}
.fifthBoxSkillsBoxSquaresImg {
  width: 100%;
  height: auto;
}
.fifthBoxSkillsBoxSquaresStars {
  position: absolute;
  width: 100%;
  display: none;
  --margin-bottom: 10px;
  background-color: rgba(245, 222, 179, 0);
  color: gold;
}
.fifthBoxAnimation {
  width: 100%;
  height: 17vw;
  margin-top: -15vh;
  background-image: url("/img/down-bckg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
